<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>TicketsJets | Boletería</title>

<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<link href="/static/bootstrap/icons/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="/static/styles/estilos_cabcera_boleteria.css">
<link rel="shortcut icon" href="/static/img/logoJetSmall.png">
 

</head>

<script src="/static/js/mensajes.js"></script>

<body>

  {% include 'cabecera_boleteria.html' %}

  {% block contenido %}{% endblock %}

  {% include 'pie.html' %}

  <!-- Bootstrap JS LOCAL -->
  <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
