<div class="top-bar p-3 d-flex justify-content-between align-items-center text-white">

  <!-- USUARIO -->
  <div class="top-user">
    <img src="/static/icons/usuario.png" alt="Usuario">
    <div>
      <div class="nombre">
        <i class="bi bi-person-fill me-1"></i>
        {{ session['nombre'] }}
      </div>
      <div class="rol">
        {{ session['operador'] }}
      </div>
    </div>

    <div class="top-clock">
      <i class="bi bi-clock-fill"></i>
      <span id="reloj"></span>
    </div>
  </div>

  <!-- ESTADO CAJA -->
  <div id="estadoCaja" class="badge bg-secondary">
    <i class="bi bi-cash-stack"></i>
    Caja: --
  </div>

  <!-- JORNADA -->
  {% if jornada %}
  <div class="top-jornada">
    <div class="nombre">
      <i class="bi bi-play-circle-fill me-1"></i>
      {{ jornada.nombre }}
    </div>
    <div class="recaudacion">
      <i class="bi bi-currency-dollar me-1"></i>
      <span id="recaudacionParcial"
            data-valor="{{ recaudacion }}">
        {{ "{:,.2f}".format(recaudacion)
          .replace(",", "X")
          .replace(".", ",")
          .replace("X", ".") }}
      </span>
    </div>
  </div>
  {% endif %}

  <!-- ACCIONES -->
  <div class="d-flex gap-2">

    <button
  class="btn btn-pro btn-cerrar-caja"
  data-bs-toggle="modal"
  data-bs-target="#modalCerrarCaja">

  <img src="/static/icons/cerrar_caja.png" class="btn-icon" alt="">
  Cerrar Caja
</button>


    <a href="/logout" class="btn btn-pro btn-logout btn-sm">
      <i class="bi bi-box-arrow-right me-1"></i>
      Logout
    </a>

  </div>
</div>

<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/boleteria.js"></script>

