<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TiketJets | Sistema de Gestión</title>

    <link rel="shortcut icon" href="/static/img/logoJetSmall.png">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/cabecera.css">
</head>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const toggle = document.getElementById("adminToggle");
    const menu = document.getElementById("adminMenu");

    toggle.addEventListener("click", function (e) {
        e.preventDefault();
        menu.classList.toggle("show");
    });

    document.addEventListener("click", function (e) {
        if (!toggle.contains(e.target) && !menu.contains(e.target)) {
            menu.classList.remove("show");
        }
    });
});
</script>


<body>

<!-- CABECERA USUARIO -->
<div class="d-flex justify-content-between align-items-center mb-3 px-3 text-white bg-dark">
    <div class="fw-semibold">
        👤 {{ usuario }}
        <span class="opacity-75">({{ rol }})</span>
        <span class="ms-3" id="reloj"></span>
    </div>

    <a href="/logout" class="btn btn-danger btn-sm">
        Cerrar sesión
    </a>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">TiketJets</a>
        <img src="/static/img/logoJetSmall.png" alt="logoJet" height="32" class="ms-2">

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#menu"
                aria-controls="menu"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="menu">
            <ul class="navbar-nav">

                <!-- INICIO -->
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Inicio</a>
                </li>

                <!-- JORNADAS -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Jornadas
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="/Jornadas">
                                Crear Nueva Jornada
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/Jornadas_Admin">
                                Administrar jornadas
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- PRODUCTOS -->
                <li class="nav-item">
                    <a class="nav-link" href="/Productos">Productos</a>
                </li>

                <!-- INFORMES -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Informes
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/admin/dashboard" target="_blank">Reportes</a></li>
                        <li><a class="dropdown-item" href="/reporte" target="_blank">Informes Recaudaciones</a></li>
                        <li><a class="dropdown-item" href="/reporte_boleteria" target="_blank">Recaudación Boleterias</a></li>
                       
                    </ul>
                </li>

                <!-- ADMINISTRACIÓN -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Administración
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/clientes">Clientes</a></li>
                        <li><a class="dropdown-item" href="/usuario">Usuarios</a></li>
                        <li><a class="dropdown-item" href="/puntos_venta">Puntos de Venta</a></li>
                        <li><a class="dropdown-item" href="/usuarios_puntos">Asignación de Usuarios a Puntos</a></li>
                        <li><a class="dropdown-item" href="/Modopago">Modo de Pago</a></li>
                         <li><a class="dropdown-item" href="/sectores_entradas" target="_blank">Sectores</a></li>
                    </ul>
                </li>

                <!-- BOLETERIA -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Boletería
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/reporte_boleteria" target="_blank">Reporte Boleteria Compacto</a></li>
                        <li><a class="dropdown-item" href="/reporte_boleteria_detallado" target="_blank">Reporte Boleteria Detallado</a></li>
                        
                    </ul>
                </li>

            </ul>
        </div>

    </div>
</nav>


<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/mensajes.js"></script>

</body>
</html>
